[General]
use_pin = 26
pin_pull_up = true
post_trigger_delay = 10
debugging = false
door_name = Front
family_name = Humans

[WebServer]
host = 0.0.0.0
port = 8001
mp3_cache = /tmp/pi_doorbell
tts_language = en-us

[ChromeCast]
; Set a comma separated list of chromecast device filters based on device name or model
; Leave blank to disable this filter
; Examples:
; filters_by_device_name = Living Room speaker, TV Room
; filters_by_model = Google Home, Chromecast
enable_chromecast = false
filters_by_device_name =
filters_by_model = Google Home
